<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 결제 Mybatis mapper xml
* @author 조영욱
* @since 2024.09.02
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.09.02  	조영욱        최초 생성
* </pre>
-->
<mapper namespace="com.oasis.hworld.payment.mapper.PaymentMapper">

    <!-- 주문 추가 -->
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId" keyColumn="order_id">
        INSERT INTO ORDERS (
            order_id,
            order_name,
            orderer_name,
            orderer_phone,
            location,
            amount,
            price_before_discount,
            point_usage
        ) VALUES (
            #{orderId} || LPAD(SEQ_ORDER.NEXTVAL, 6, '0'),
            #{orderName},
            #{ordererName},
            #{ordererPhone},
            #{location},
            #{amount},
            #{priceBeforeDiscount},
            #{pointUsage}
        )
    </insert>

    <update id="insertOrderItemList">
        INSERT ALL
        <foreach collection="orderItemList" item="orderItem" separator=" ">
            INTO ORDER_ITEM (
                order_id,
                item_id,
                price,
                item_count,
                item_option
            ) VALUES (
                #{orderId},
                #{orderItem.itemId},
                #{orderItem.price},
                #{orderItem.itemCount},
                #{orderItem.itemOption}
            )
        </foreach>
        SELECT * FROM DUAL
    </update>
</mapper>