<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 코디 Mybatis mapper xml
* @author 김지현
* @since 2024.09.03
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =======================
* 2024.09.04  	김지현        최초 생성
* 2024.09.06    김지현        장바구니 관련 기능 구현
* </pre>
-->
<mapper namespace="com.oasis.hworld.coordination.mapper.CoordinationMapper">
    <!-- 코디 추가 -->
    <insert id="insertCoordination" useGeneratedKeys="true" keyProperty="coordinationId">
        <selectKey keyProperty="coordinationId" resultType="int" order="BEFORE">
            SELECT SEQ_COORDINATION.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO COORDINATION (coordination_id, member_id, title, image_url)
        VALUES (#{coordinationId}, #{memberId}, #{title}, #{imageUrl})
    </insert>

    <!-- 코디 아이템 추가 -->
    <insert id="insertCoordinationItem">
        INSERT INTO COORDINATION_ITEM (category_id, coordination_id, item_option_id)
        VALUES (
            (SELECT category_id
             FROM ITEM I
                 INNER JOIN ITEM_OPTION IO ON I.item_id = IO.item_id
             WHERE IO.item_option_id = #{itemOptionId}),
            #{coordinationId},
            #{itemOptionId}
        )
    </insert>

    <!-- 캐릭터 장착 조회 -->
    <select id="selectCharacterItemByCoordinationItem">
        SELECT COUNT(item_option_id)
        FROM CHARACTER_ITEM
        WHERE category_id = #{categoryId}
          AND member_id = #{memberId}
    </select>

    <!-- 캐릭터 장착 상품 변경 -->
    <update id="updateCharacterItemByCoordination">
        UPDATE CHARACTER_ITEM
        SET item_option_id = #{itemOptionId}
        WHERE member_id = #{memberId}
          AND category_id = #{categoryId}
    </update>

    <!-- 캐릭터 장착 상품 추가 -->
    <insert id="insertCharacterItemByCoordination">
        INSERT INTO CHARACTER_ITEM (category_id, member_id, item_option_id)
        VALUES (#{categoryId}, #{memberId}, #{itemOptionId})
    </insert>

    <!-- 코디 삭제 -->
    <update id="deleteCoordination">
        UPDATE COORDINATION
        SET deleted_at = SYSDATE
        WHERE coordination_id = #{coordinationId}
          AND deleted_at IS NULL
    </update>

    <!-- 코디 ID로 아이템 목록 조회 -->
    <select id="selectCoordinationItemByCoordinationId">
        <![CDATA[
            SELECT CI.category_id,
                   IO.item_id,
                   CI.item_option_id,
                   I.image_url,
                   I.name,
                   I.price
            FROM COORDINATION_ITEM CI
                 LEFT JOIN ITEM_OPTION IO    ON CI.item_option_id = IO.item_option_id
                 LEFT JOIN ITEM I            ON IO.item_id = I.item_id
            WHERE CI.coordination_id = #{coordinationId}
        ]]>
    </select>

    <!-- 회원 ID와 아이템 옵션 ID로 장바구니 조회 -->
    <select id="selectCartByItemOptionIdAndMemberId">
        <![CDATA[
            SELECT COUNT(cart_id)
            FROM CART
            WHERE member_id = #{memberId}
              AND item_option_id = #{itemOptionId}
        ]]>
    </select>
</mapper>