<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oasis.hworld.member.mapper.MemberMapper">
    <insert id="insertMember">
        <![CDATA[
            INSERT INTO MEMBER (member_id, login_id, password, nickname, gender, birthdate)
            VALUES (SEQ_MEMBER.NEXTVAL, #{loginId}, #{password}, #{nickname}, #{gender}, TO_DATE(TO_CHAR(#{birthdate}, 'YYYY-MM-DD'), 'YYYY-MM-DD'))
        ]]>
    </insert>

    <select id="selectMemberByLoginId">
        <![CDATA[
            SELECT count(login_id)
            FROM MEMBER
            WHERE login_id = #{loginId} AND deleted_at IS NULL
        ]]>
    </select>
</mapper>