<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 장바구니 Mybatis mapper xml
* @author 조영욱
* @since 2024.08.31
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.08.31  	조영욱        최초 생성
* </pre>
-->
<mapper namespace="com.oasis.hworld.cart.mapper.CartMapper">

    <!-- 회원 ID로 장바구니 조회 -->
    <select id="selectCartByMemberId">
        SELECT
            C.cart_id,
            IO.item_option_id,
            IO.item_option,
            I.item_id,
            C.item_count,
            I.name AS item_name,
            I.image_url AS item_image_url,
            I.price AS itemPrice,
            I.detail_image_url AS item_detail_image_url,
            S.shop_id,
            S.name AS shop_name,
            S.image_url AS shop_image_url
        FROM
            CART C
        LEFT JOIN
            ITEM_OPTION IO
            ON
                C.item_option_id = IO.item_option_id
        LEFT JOIN
            ITEM I
            ON
                IO.item_id = I.item_id
        LEFT JOIN
            SHOP S
            ON
                I.shop_id = S.shop_id
        WHERE
            C.member_id = #{memberId}
    </select>

    <!-- 회원 ID와 상품 ID로 장바구니 조회 -->
    <select id="selectCartByMemberIdAndItemOptionId">
        SELECT
            cart_id
        FROM
            CART
        WHERE
            member_id = #{memberId}
            AND
            item_option_id = #{itemOptionId}
    </select>

    <!-- 장바구니 ID로 장바구니 조회 -->
    <select id="selectCartByCartId">
        SELECT
            cart_id,
            member_id
        FROM
            CART
        WHERE
            cart_id = #{cartId}
    </select>

    <!-- 장바구니 추가 -->
    <insert id="insertCart">
        INSERT INTO CART(
            cart_id,
            member_id,
            item_option_id,
            item_count
        ) VALUES (
            SEQ_CART.NEXTVAL,
            #{memberId},
            #{itemOptionId},
            1
        )
    </insert>

    <!-- 장바구니에서 삭제 -->
    <delete id="deleteCartByCartId">
        DELETE FROM
            CART
        WHERE
            cart_id = #{cartId}
    </delete>

    <!-- 장바구니의 상품 개수 변경 -->
    <update id="updateItemCountByCartId">
        UPDATE
            CART
        SET
            item_count = #{itemCount}
        WHERE
            cart_id = #{cartId}
    </update>

    <!-- 장바구니 ID 리스트로 장바구니 조회 -->
    <select id="selectCartByCartIdList">
        SELECT
            C.cart_id,
            C.member_id,
            IO.item_option_id,
            I.item_id,
            C.item_count,
            I.name AS item_name,
            I.price AS itemPrice
        FROM
            CART C
        LEFT JOIN
            ITEM_OPTION IO
            ON
                C.item_option_id = IO.item_option_id
        LEFT JOIN
            ITEM I
            ON
                IO.item_id = I.item_id
        WHERE
            C.cart_id IN
            <foreach collection="cartIdList" item="cartId" open="(" close=")" separator=",">
                #{cartId}
            </foreach>
    </select>
</mapper>