<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 장바구니 Mybatis mapper xml
* @author 조영욱
* @since 2024.08.31
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.08.31  	조영욱        최초 생성
* </pre>
-->
<mapper namespace="com.oasis.hworld.cart.mapper.CartMapper">

    <!-- 회원 ID로 장바구니 조회 -->
    <select id="selectCartByMemberId">
        SELECT
            C.cart_id,
            I.item_id,
            C.item_count,
            I.name as item_name,
            I.image_url as item_image_url,
            I.price as itemPrice,
            I.detail_image_url as item_detail_image_url,
            S.shop_id,
            S.name as shop_name,
            S.image_url as shop_image_url
        FROM
            CART C
        LEFT JOIN
            ITEM I
            ON
                C.item_id = i.item_id
        LEFT JOIN
            SHOP S
            ON
                I.shop_id = S.shop_id
        WHERE
            C.member_id = #{memberId}
    </select>
</mapper>