<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 장바구니 Mybatis mapper xml
* @author 조영욱
* @since 2024.08.31
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.08.31  	조영욱        최초 생성
* </pre>
-->
<mapper namespace="com.oasis.hworld.cart.mapper.CartMapper">
    <select id="selectCartByMemberId">
        SELECT
            cart_id,
            member_id,
            item_id,
            item_count
        FROM
            CART
        WHERE
            member_id = #{memberId}
    </select>
</mapper>