<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 캐릭터 Mybatis mapper xml
* @author 조영욱
* @since 2024.09.03
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.09.03  	조영욱        최초 생성
* </pre>
-->
<mapper namespace="com.oasis.hworld.character.mapper.CharacterMapper">
    <!-- 회원 ID로 캐릭터 상태 조회 -->
    <select id="selectCharacterStateByMemberId">
        SELECT
            member_id,
            speed,
            mouse_sensitivity,
            sound,
            character_type
        FROM
            CHARACTER_STATE
        WHERE
            member_id = #{memberId}
    </select>

    <!-- 회원 ID로 캐릭터가 장착 중인 상품 조회 -->
    <select id="selectCharacterItemByMemberId">
        SELECT
            CI.category_id,
            IO.item_option_id,
            IO.item_option,
            I.item_id,
            I.name
        FROM
            CHARACTER_ITEM CI
            LEFT JOIN ITEM_OPTION IO ON CI.item_option_id = IO.item_option_id
            LEFT JOIN ITEM I         ON IO.item_id = I.item_id
        WHERE
            member_id = #{memberId}
    </select>

    <!-- 캐릭터 상태 변경 -->
    <update id="updateCharacterState">
        UPDATE CHARACTER_STATE
        SET
            speed = #{dto.speed},
            mouse_sensitivity = #{dto.mouseSensitivity},
            sound = #{dto.sound}
        WHERE
            member_id = #{memberId}
    </update>

    <!-- 캐릭터 생성 -->
    <insert id="insertCharacterState">
        INSERT INTO CHARACTER_STATE (
            member_id,
            character_type
        ) VALUES (
            #{memberId},
            #{dto.characterType}
        )
    </insert>

    <!-- 카테고리 ID와 회원 ID로 장착중인 캐릭터 상품 조회 -->
    <select id="selectCharacterItemByCategoryIdAndMemberId">
        SELECT
            category_id,
            member_id,
            item_option_id
        FROM
            CHARACTER_ITEM
        WHERE
            category_id = #{categoryId}
        AND
            member_id = #{memberId}
    </select>

    <!-- 캐릭터 장착 상품 변경 -->
    <update id="updateCharacterItem">
        UPDATE
            CHARACTER_ITEM
        SET
            item_option_id = #{itemOptionId}
        WHERE
            member_id = #{memberId}
        AND
            category_id = #{categoryId}
    </update>

    <!-- 캐릭터 장착 상품 추가 -->
    <insert id="insertCharacterItem">
        INSERT INTO CHARACTER_ITEM (
            category_id,
            member_id,
            item_option_id
        ) VALUES (
            #{categoryId},
            #{memberId},
            #{itemOptionId}
        )
    </insert>

    <!-- 상품 옵션 ID로 카테고리 ID 조회 -->
    <select id="selectCategoryIdByItemOptionId">
        SELECT
            I.category_id
        FROM
            ITEM_OPTION IO
                INNER JOIN ITEM I ON IO.item_id = I.item_id
        WHERE
            IO.item_option_id = #{itemOptionId}
    </select>
</mapper>